vti_encoding:SR|utf8-nl
vti_author:SR|REDMOND\\thrundle
vti_modifiedby:SR|REDMOND\\thrundle
vti_timelastmodified:TR|21 Jun 2017 14:15:35 -0000
vti_timecreated:TR|21 Jun 2017 14:15:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|site_map/default.html About/lectures.html Educational/default.html faq/default.html master.dwt photo_gallery/default.html promotions/default.html links/default.html About/publications.html information_links/default.html Research/default.html services/default.html About/board.html About/default.html Collection/default.html Compliance/default.html contact/default.html default.html About/survey.html Collection/documenting.html
vti_cacheddtm:TX|21 Jun 2017 14:15:35 -0000
vti_filesize:IR|1960
vti_cachedlinkinfo:VX|Q|layout.css S|../images/msfp_smbus2_01.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/msfp_smbus2_01.gif
